<!DOCTYPE html>
<html>

<head>
<style>
.logo {
  display: flex;
  justify-content: center;
}
h1, p  {
  text-align: center;
}
ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
</style>

<title>🚧 공사중 🚧</title>
</head>

<body>
<h1>🚧 Homin.dev 🚧</h1>
<p class="logo"><img src="{{.Logo}}"></p>
<p class="msg">대가없는 🥩 환영합니다</p>
<ul>
    <li><a href="/img/kakaopay">KakaoPay</a></li>
    <li><a href="{{.SupportLink}}">Paypal</a></li>
</ul>


<p class=msg>browse here:</p>
<ul>
    <li><a href="/github">Github</a></li>
    <li><a href="/youtube">Youtube</a></li>
    <li><a href="/instagram">Instagram</a></li>
    <li><a href="/resume">Resume</a></li>
</ul>
</body>

</html>