<!DOCTYPE html>
<html>

<head>
<style>
.logo {
  display: flex;
  justify-content: center;
}
.msg {
  text-align: center;
}
</style>

<title>Homin.dev - Under Construction</title>
</head>

<body>
<p class="logo"><img src="{{.Logo}}"></p>
<p class="msg"><a href="{{.SupportLink}}">Support Homin.dev</a></p>
</body>

</html>