<!DOCTYPE html>
<html>

<head>
<style>
.logo {
  display: flex;
  justify-content: center;
}
.msg {
  text-align: center;
}
</style>

<title>🚧 공사중 🚧</title>
</head>

<body>
<p class="logo"><img src="{{.Logo}}"></p>
<p class="msg"><a href="{{.SupportLink}}">대가없는 🥩 환영합니다.</a></p>
</body>

</html>