<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TDBD9KS9');</script>
  <!-- End Google Tag Manager -->

  <link rel="icon" href="https://homin.dev/asset/favicon/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="https://homin.dev/asset/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://homin.dev/asset/favicon/favicon-32x32.png">
  <link rel="apple-touch-icon" href="https://homin.dev/asset/favicon/apple-touch-icon.png">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FVJYDM3VNX"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-FVJYDM3VNX');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{{.Title}} - Homin.dev </title>
  <meta name="author" content="Homin Lee">
  <meta name="description" content="Homin.dev web sites">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://homin.dev/asset/css/tachyons.min.css">
  <meta name="color-scheme" content="light dark">
  <style>
    :root {
      --clover-green: #5BE584;
      --clover-dark: #2E7D32;
    }

    @media (prefers-color-scheme: dark) {
      .text-dark-aware {
        color: #f5f5f5 !important;
      }
      .bg-dark-aware {
        background-color: #121212 !important;
      }
      .bg-light-gray {
        background-color: #333 !important;
        color: #f5f5f5;
      }
      .text-clover {
        color: var(--clover-green) !important;
      }
      .text-muted {
        color: #bbb !important;
      }
    }

    @media (prefers-color-scheme: light) {
      .text-dark-aware {
        color: #000 !important;
      }
      .bg-dark-aware {
        background-color: #fff !important;
      }
      .text-clover {
        color: var(--clover-dark) !important;
      }
      .text-muted {
        color: #555 !important;
      }
    }
  </style>
</head>
<body class="tc bg-dark-aware text-dark-aware">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDBD9KS9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <h1 class="f2 lh-title">{{.Title}}</h1>
  <img src="{{.Img}}">

  <p class="f3 fw3 pa3">{{.Msg}}</p>

  <div class="flex flex-wrap justify-center pr4 pl4 pb4 items-start lh-copy">
    {{range .Links}}
    {{if not .Hide}}
    <div class="bg-light-gray w5 mw5 tl ma2 pa2 shadow-3">
      <p class="f3 b pa0 ma0">
        <a href="{{.Link}}" class="link underline-hover text-clover hover-orange">{{.Name}}</a>
      </p>
      <p class="f6 pa0 ma0 text-muted">{{.Desc}}</p>
    </div>
    {{end}}
    {{end}}
  </div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9322146642801439"
          crossorigin="anonymous"></script>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-9322146642801439"
       data-ad-slot="4074423172"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <footer class="bottom-0 w-100 pa2">
    <p class="ma0 f4">{{.LastWords}}</p>
    <small>© Homin Lee &lt;ff4500@gmail.com&gt;; All rights reserved.</small>
  </footer>
</body>
</html>