<!DOCTYPE html>
<html>

<head>
<style>
.logo {
  display: flex;
  justify-content: center;
}
h1, p, footer {
  text-align: center;
}
ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
</style>

<title>Homin.dev - {{.Title}}</title>
</head>

<body>
<h1 class="title">{{.Title}}</h1>
<p class="img"><img src="{{.Img}}"></p>

<p class="msg">{{.Msg}}</p>
<ul>
{{range .Links}}
  <li><a href="{{.Link}}">{{.Title}}</a> : {{.Desc}}</li>
{{end}}
</ul>

<p class="lastwords">{{.LastWords}}</p>

<footer>
  <small>&copy; Homin Lee &lt;ff4500@gmail.com&gt;; All rights reserved.</small>
</footer>
</body>

</html>