<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{{.Title}} - Homin.dev </title>
  <meta name="author" content="Homin Lee">
  <meta name="description" content="Homin.dev web sites">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://homin.dev/asset/css/tachyons.min.css">
</head>
<body class="tc">
<h1 class="f1 lh-title pa2">{{.Title}}</h1>
<img src="{{.Img}}">

<p class="f3 fw3 pa3">“{{.Msg}}”</p>

<div class="flex flex-wrap justify-center pr4 pl4 items-start lh-copy">
{{range .Links}}
  {{if not .Hide}}<div class="bg-near-white w5 mw5 tl ma2 pa2 shadow-3"><p class="f3 b pa0 ma0"><a href="{{.Link}}">/{{.Name}}</a></p><p class="f6 pa0 ma0">{{.Desc}}</p></div>{{end}}
{{end}}
</div>

<!-- <p class="f1"></p> -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9322146642801439"
     crossorigin="anonymous"></script>
<!-- homin-dev_ingress -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9322146642801439"
     data-ad-slot="4074423172"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<footer class="bottom-0 w-100 pa2">
  <p class="ma0"><a class="f4" href="https://homin.dev/support">{{.LastWords}}</a></p>
  <small>© Homin Lee &lt;ff4500@gmail.com&gt;; All rights reserved.</small>
</footer>
</body>
</html>
