<!DOCTYPE html>
<html>

<head>
<style>
.logo {
  display: flex;
  justify-content: center;
}
h1, p, footer {
  text-align: center;
}
ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
</style>

<title>🚧 후원 🚧</title>
</head>

<body>
<h1>🚧 Homin.dev 🚧</h1>
<ul class support list>
    <li><a href="/img/kakaopay">KakaoPay</a></li>
    <li><a href="https://www.paypal.com/paypalme/suapapa">Paypal</a></li>
</ul>

<footer>
  <small>&copy; Homin Lee &lt;ff4500@gmail.com&gt;; All rights reserved.</small>
</footer>
</body>

</html>